<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96961315340-tismj8q43n49l8inigcls797b6h5fvrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96961315340-tismj8q43n49l8inigcls797b6h5fvrg</string>
	<key>API_KEY</key>
	<string>AIzaSyBqIZII6ruA4L5zEfIS2rw1yo6qqAuqBJY</string>
	<key>GCM_SENDER_ID</key>
	<string>96961315340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cebanCoding.UpInApp</string>
	<key>PROJECT_ID</key>
	<string>upinapp-501c7</string>
	<key>STORAGE_BUCKET</key>
	<string>upinapp-501c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96961315340:ios:424d32e210596ab4582429</string>
</dict>
</plist>